@import url("base.css");
header{
    position:fixed;
    left: 0;
    top: 0;
    background:#FFFFFF ;
    width: 100%;
    height: 0.8rem;
    color: #4ebbfe;
    line-height: 0.88rem;
    font-size: 0.38rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.24rem;
    box-shadow:0 2px 15px rgba(78,187,254,0.2);
}
header i{
    color: #4ebbfe;
    font-size: 0.44rem;
}
section{
    margin-top: 1.9rem;
    height: auto;
    width: 100%;

}
section .sectionUl{

    height: auto;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}
.sectionUl > li{
    display: flex;
    /*justify-content:space-between;*/
    align-items: center;
    width: 100%;

}

.sectionRight{
    margin-left: 0.24rem;
    margin-top: 0.15rem;
    position: relative;
}
.sectionLeft img{
    height: 1.5rem;
    width: 1.5rem;
}
.sectionLeft{
    height: 1.74rem;
    width: 1.74rem;
    background-color: #ffffff;
    box-shadow: 0 1px 21px 0
    rgba(223, 223, 223, 0.43);
    border-radius: 10px;
}
.sectionRight img{
    height: 0.34rem;
    width: 0.34rem;

}
.sectionRight .img2{
    position: absolute;
    top: 0.05rem;

    height:0.43rem;
    width: 0.43rem;

}
.sectionRightImg{
    margin-left: 1rem;
    color: #36a8fe;
    font-size: 15px;

}

.sectionRightSpan{
    font-size: 17px;
    font-weight: normal;
    color: #000000;
    opacity: 0.6;
}
.sectionRightImg span{
    margin:0 0.15rem;
}

.sectionUl p{
    font-size: 15px;
    color: #8e9397;
}
.sectionUl li:before{
    content: "";
    display: block;
    width: 0.24rem;
    height :0.24rem;
    margin-left: -0.2rem;
    position: relative;
    left: -0.24rem;
    border-radius:50% ;
    background-color: #e7f6ff;
}
.sectionUl li{
    margin-bottom: 0.4rem;
}
.sectionUl .sectionUl1:before{
     background-color: #4ebbfe;
}
.total{
    font-size: 0.26rem;
    color: #3bacfe;
    margin-left: 0.5rem;
    position: absolute;
    bottom: 1.5rem;


}
.total:before{
    content: "";
    display: inline-block;
    width: 0.24rem;
    height :0.24rem;
    border-radius:50% ;
    background-color: #e7f6ff;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.1rem;
    line-height:1.5;
    display: flex;
    background-color: #f1faff;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
footer img{
    width: 4rem;
    height: 1rem;

}
.footerRight{
    padding-right: 0.25rem;
}
.footerRightgreen{
    width: 3.8rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    background-blend-mode: normal,
    normal;
    box-shadow: 0 0.04rem 0.2rem 0
    rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
}
.footerLeft{
    color: #3bacfe;
    opacity: 0.6;
    font-size: 15px;
    padding:0.2rem;
}
.footerLeftP1{
    margin-top: -0.1rem;
    margin-bottom: 0.1rem;
}
.footerLeftP1 span{
    color: #36a8fe;
    font-size: 20px;
    font-weight: bold;
}
.footerLeftP2{
    margin-top: -0.15rem;
    font-size: 12px;
}
.carkong{
    width: 80%;
    margin:3rem auto;
}
.blank{
    margin-left: 1.7rem;
}
.blank img{
    width: 4rem;
    height:4rem;
}
.blank p{
    font-size: 0.26rem;
    height: 0.26rem;
    line-height: 0.26rem;
    text-align: center;
    padding-right: 0.5rem;
    opacity: 0.4;
}
.see{
    width: 1.96rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    background-blend-mode: normal,
    normal;
    box-shadow: 0 0.04rem  0.2rem 0;
    rgba(55, 223, 116, 0.75);
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.6rem;
}
.carsee{

    padding-left:25%;

}

